@model LoginVoLam.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .field-validation-error, .field-validation-error span {
        color:red;
        font-size: 12px;
        font-style: italic;
    }
</style>
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <p class="field-validation-error">@Model.ErrorMessage</p>
            }
            <div class="card-body">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <p></p>
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
